.container {
  min-height: 100vh;
  display: flex;
  align-items: start;
  max-width: 80vw;
  padding: 0 15px;
  margin: 0 auto;
  flex-direction: column;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.textError {
  font-size: 18px;
  color: black;
}
